<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head lang="en">
		<meta charset="UTF-8" />
 		<title>
                        Oh_My_Nom!
                        {% block title_block %}
                        {% endblock %}
                </title>

	</head>
	<body>
		<div>
			<!-- This part corresponds to the top section of the html, IT IS INTENDED TO BE UPLOADED in some form that is beyond me at the moment -->
			<a href="{% url 'main:index' %}">Home Page</a>
			<!-- Meant to change to detect if we are logged in but that is beyond me atm -->
			<a href="{% url 'main:registersignin' %}">Log In or Register!</a>
			<a href="{% url "main:signout" %}">Logout</a>
			<br />
		<div/>
		<div>
			{% if user.is_authenticated %}
				Welcome {{ user.username }}.
			{% endif %}			
		<div/>
		<div>
                        {% block main_block %}
                                <div><strong>Normally Content Should be here... but since it isn't how about this instead?</strong><br /></div> 
				<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Main Content Page</a>
                        {% endblock%}
                </div>
		<div>
			<ul>
				<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Invest in Oh_My_Nom!</a></li>
				<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">About us</a></li>
				<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Careers</a></li>
			</ul>
		</div>
	</body>
</html>
