{% extends 'main/base.html' %}
{% load staticfiles %}

{% block main_block %}
	<div class="inner cover">
        <h1 class="cover-heading">Oh My Nom!</h1>
        <p>Feed me I'm bored!</p>
        <p class="lead">
        <a href="{% url 'main:hotrestaurants' %}" class="btn btn-lg btn-secondary">Take Me Out!</a>
		<a href="{% url 'main:randomrecipes' %}" class="btn btn-lg btn-secondary">Generate Random Recipes</a>
        </p>
    </div>

{% endblock %}
	<script src="{% static "js/main-ajax.js" %}"></script>
	<script type="text/javascript">
	</script>