{% extends 'main/base.html' %}
{% load staticfiles %}

<!-- Should Only be seen if user is logged in -->
{% block main_block %}
	<script type="text/javascript" src="{% static "js/main-ajax.js" %}"></script>
	<script type="text/javascript">
	</script>
	
	<h2>Your random recipes are:</h2> 
	<div class = "recipes">
	<p class = "p1">
		{% for slug,name in recipes %}
			<li><a id='recipe' href="/recipe/{{ slug }}">{{ name }}</a></li>
		{% endfor %}
		</p>
	</div>
	<br>
	
	{% if user.is_authenticated %}

        <a href="{% url 'main:myrecipes' %}" class="btn btn-lg btn-secondary">My Recipes</a>
		{% endif %}			
		
		
		<a href="{% url 'main:randomrecipes' %}" class="btn btn-lg btn-secondary">Generate Random Recipes</a>
{% endblock %}
