{% extends 'main/base.html' %}
{% load staticfiles %}

<!-- Should Only be seen if user is logged in -->
{% block main_block %}
	<script type="text/javascript" src="{% static "js/main-ajax.js" %}"></script>
	<script type="text/javascript">
	</script>
	
	<p>Random recipes you want:<p/> 
	<div>
		{% for slug,name in recipes %}
			<li><a id='recipe' href="/recipe/{{ slug }}">{{ name }}</a></li>
		{% endfor %}
	</div>
	<br>
	
	<a href="{% url 'main:myrecipes' %}">my saved recipes</a>
	<!-- button works fully, JavaScript rather than jQuery --> 
	<button onclick="window.location.href='/randomrecipes';">Generate Random Recipes</button>
{% endblock %}
