{% extends "main/base.html" %}
{% load staticfiles %}
	<script type="text/javascript" src="{% static '/js/click.js' %}"></script>
	<!-- Displays the title and url of the selected recipe along with the buttons Save Recipe to save it and Generate Random Recipes to randomise more recipes -->
{% block main_block %}
	<div>
	{% if recipe %}
		<h1>{{ recipe.title }}</h1>
		<div>
		<a href={{ recipe.url}} class = "link" >Link to the recipe website</a>
			<form id="location_form" method="post" action="{% url 'main:save_recipe' %}"enctype="multipart/form-data">
					{% csrf_token %}
					<input id="recipe_title" name="recipe_title" type="hidden" value="{{ recipe.title }}">
                	<input type="submit" name="submit" class="btn btn-lg btn-secondary" value="Save Recipe!"/>
        	</form>
		</div>
		{% if message %}
			<div> {{ message }} </div>
		{% endif %}
		<hr>
		<a href="{% url 'main:randomrecipes' %}" class="btn btn-lg btn-secondary">Generate Random Recipes</a>
	{% else %}
		The specified recipe does not exist!
	{% endif %}
	</div>
{% endblock %}

