{% extends "main/base.html" %}
{% load staticfiles %}
	<script type="text/javascript" src="{% static '/js/click.js' %}"></script>
{% block main_block %}
	<div>
	{% if recipe %}
		<h1>{{ recipe.title }}</h1>
		<div>
		<a href={{ recipe.url}}>Link to the recipe website</a>
			<form id="location_form" method="post" action="{% url 'main:save_recipe' %}"enctype="multipart/form-data">
					{% csrf_token %}
					<input id="recipe_title" name="recipe_title" type="hidden" value="{{ recipe.title }}">
                	<input type="submit" name="submit" value="Save Recipe!"/>
        	</form>
		</div>
		<hr>
		<button onclick="window.location.href='/randomrecipes';">Generate Random Recipes</button>
	{% else %}
		The specified recipe does not exist!
	{% endif %}
	</div>
{% endblock %}

