{% extends 'main/base.html' %}
{% load staticfiles %}

{% block main_block %}
	<strong>register here!</strong><br />
	{% if register_error %}
		<p>{{ register_error }}<p/>
	{% endif %}
	<form id="user_form" method="post" action="{% url 'main:registersignin' %}"enctype="multipart/form-data">
		{% csrf_token %}
		Username: <input type="text" name="registerusername" value="" size="50" />
		<br />
		Password: <input type="password" name="registerpassword" value="" size="50" />
		<br />	
		Approximate location: <input type="text" name="registerlocation" value="" size="50" />
		<br />	
		<input type="submit" name="submit" value="Register" />
	</form>
	<br />
	<br />
	<strong>Or Sign In!</strong>
	{% if signin_error %}
		<p>{{ signin_error }}<p/>
	{% endif %}
	<form id="login_form" method="post" action="{% url 'main:registersignin' %}">
		{% csrf_token %}
		Username: <input type="text" name="signinusername" value="" size="50" />
		<br />
		Password: <input type="password" name="signinpassword" value="" size="50" />
		<br />
		<input type="submit" value="Sign In" />
	</form>

{% endblock %} 
